.header {
  background: #2C3E50;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

li {
  font-size: 25px;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-nav li {
  margin-right: 4rem;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
  cursor: pointer;
}

.header-nav a:hover {
  color: #F39C12;
}

.header-logo {
  width: 10%;
  height: 90px;
  margin-left: 10px;
}

.header-logo img {
  width: 100%;
  height: 90px;
}